ENV=production
HTTP_PORT=10524

# 原型地址
AXURE_HOST=https://axure.vicw.com
# 原型解压路径
AXURE_PATH=～/web/axure/
# 后台管理web地址
DASHBOARD_WEB_HOST: https://www.vicw.com

TOKEN_KEY=6cf6813ba69b1e7cf4bedf4fe6d61221
# 跨域
ALLOW_ORIGINS=https://*.vicw.com,http://*.vicw.com,https://*.tajansoft.com,http://*.tajansoft.com,http://localhost:9666,http://localhost:9667

# qiniu
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=axshare-go
QINIU_BUCKET_DOMAIN=http://qiniu.vicw.com