# 数据库配置信息
axshare_db:
  host: db_mysql
  port: 3306
  database: axshare
  user: ervincheung
  password: 1qaz2wsx

env: production

http:
  port: 10524

#axure web host
web_host: https://axure.vicw.com
axure_path: ~/web/axure/
# admin host
admin_host: https://www.vicw.com